/*
	to work out font calculations 
	if smaller than base = (base font size - target font size) / target font size 
	if larger than base = (target font size / base font size)
*/
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, dialog {
	letter-spacing: 0.25px;
	@apply text-white;
}

p, ul, ol, dl, pre, dialog, a {
	font-size: theme('fontSize.base-copy-size');
	@apply font-sans leading-relaxed text-white;
}

blockquote {
	font-weight: 500;
    font-style: italic;
    border-left-width: 0.25rem;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
	border-left-color: grey;
    p {
		color: #999;
	}
}

sup {
	top: -0.8em;
	@apply font-sans text-xs;
}

p {
	@apply mb-4;
	
	@screen lg {
		@apply mb-6;
	}

	strong {
		font-weight: lighter;
		@apply font-sansBold;
	}

	&:last-child {
		@apply mb-0;
	}
}

.small {
	p { 
		@apply text-base leading-snug; 
	}
}

.lead {
	p { 
		font-size: theme('fontSize.base-heading-size');
	}
}

.section-ourwork-video {
	.stroke {
		@apply leading-none;
		font-size: calc(2.4 * theme('fontSize.base-heading-size'));
		
		@screen lg {
			font-size: calc(3.2 * theme('fontSize.base-heading-size'));
		}

		@screen xl {
			font-size: calc(5 * theme('fontSize.base-heading-size'));
		}
	}
}

ul.dash-list {
	li {
		@apply relative text-white font-sansBold;
		font-size: calc(1.2 * theme('fontSize.base-heading-size'));

		@screen sm { 
			@apply pr-16 mb-2;
		}

		@screen lg { 
			@apply mb-6;
			font-size: calc(1.2 * theme('fontSize.base-heading-size'));
		}
		
		&:after {
			@screen sm {
				content: "";
				top: 5%;
				height: 90%;
				@apply absolute bg-border w-px ml-8 origin-center;
				transform: rotate(20deg);
			}

			@screen xl {
				@apply ml-8;
				height: 80%;
				top: 10%;
			}
		}

		&:last-child {
			&:last-child {
				@apply pr-0;
			}

			&:after {
				@apply hidden;
			}
		}

		a {
			transition: 0.3s;
		}

		&:hover {
			a {
				@apply text-white;
			}
		}
	}
}

.h1, .wysiwyg h1, .h2, .wysiwyg h2, .h3, .wysiwyg h3, .h4, .wysiwyg h4 {
	@apply font-sansBold font-bold;
	font-variation-settings: 'wdth' 400, 'wght' 700;
}

.h5, .wysiwyg h5, .h6, .wysiwyg h6 {
	@apply font-sans;
}

.h1.large {
	font-size: calc(2 * theme('fontSize.base-heading-size'));

	@screen lg {
		@apply leading-snug;
		font-size: calc(2.4 * theme('fontSize.base-heading-size'));
	}

	&.small {
		@apply text-base leading-none;
	}
}

.h1, .wysiwyg h1 {
	font-size: calc(1.4 * theme('fontSize.base-heading-size'));
	@apply leading-snug text-white;

	@screen lg {
		font-size: calc(2 * theme('fontSize.base-heading-size'));
	}

	&.small {
		@apply text-base leading-none;
	}
}

.h2, .wysiwyg h2 {
	font-size: calc(1.2 * theme('fontSize.base-heading-size'));
	@apply leading-snug text-white;


		@screen lg { 
			font-size: calc(1.4 * theme('fontSize.base-heading-size'));
		}
	
}

.h3, .wysiwyg h3 {
	@apply leading-snug;
	font-size: calc(1.2 * theme('fontSize.base-heading-size'));
}

.h4, .wysiwyg h4 {
	@apply leading-snug text-white;
	font-size: calc(1 * theme('fontSize.base-heading-size'));
}

.h5, .wysiwyg h5 {
	@apply leading-snug text-base text-white;
}
// .h5, .wysiwyg h5 {
// 	font-size: theme('fontSize.base-copy-size');
// 	@apply leading-snug;

// 	@screen lg {
// 		font-size: theme('fontSize.base-heading-size');
// 	}
// }

// .h6, .wysiwyg h6 {
// 	@apply leading-snug text-base text-yellow;
// }

.normal-link {
	text-decoration: underline;
}

.btn,
.btn,
.wysiwyg .btn,
input[type=submit] {
	transition: 0.3s;
	@apply cursor-pointer inline-block;

	&:hover,
	&:active,
	&:focus {
		@apply cursor-pointer;
	}

	&.primary {
		@apply no-underline relative inline-flex items-center justify-center bg-white text-black px-8 py-2 mt-4;

		span {
			@apply block w-24 h-auto text-center text-lg;
		}

		&:hover, 
		&:focus,
		&:active {
			transform: scale(1.1);
		}
	}

	&.secondary {
		@apply no-underline relative flex items-center justify-center bg-black rounded-full text-white w-32 h-32;

		span {
			@apply block w-24 h-auto text-center text-lg mt-2;
		}

		&:hover, 
		&:focus,
		&:active {
			transform: scale(1.1);
		}
	}


	&[disabled=disabled], 
	&:disabled {
		opacity: 0.3;
		cursor: default;
	}

	&:focus {
		outline: none;
	}
}

// animated border //
.button-border {
	transition: 0.5s;
	@apply py-5 px-6 inline-block relative w-full;
	z-index: 1;

	@screen xl { 
		@apply w-auto px-8 py-8;
	}

	&.multi-img {
		@apply w-auto py-2 px-4;
	}

	&.current-ops-btn {
		@screen xl { 
			@apply w-full block py-5 px-6;
		}
	}

	&:before {
		content: "";
		@apply absolute top-0 left-0 w-full h-full border border-border border-solid bg-bgElement;
		z-index: -1;
	}

	span {
		@apply block;
	}
}

a.link {
	@apply relative;

	&:after {
		transition: all 0.3s ease;
		content: "";
		height: 1px;
		left: -5px;
		@apply absolute bg-black bottom-0 opacity-0 -mb-1 w-0;
	}

	&:hover { 
		&:after {
			width: calc(100% + 10px);
			@apply opacity-100;
		}
	}

	&.contact-link {
		&:after { 
			bottom: -5px;
		}
	}
}

.contact-link {
	width: 64px;
}

.section-two-coloumn-full {
	p + h3 {
		@apply mt-8;

		@screen lg { 
			@apply mt-12;
		}
	}
}

.wysiwyg {
	
	h2, h3 {
		@apply mb-6;
	}

	h4, h5 {
		@apply mb-2;

		@screen lg { 
			@apply mb-4;
		}
	}

	ol {
		list-style: none; counter-reset: li;
		@apply my-6 pl-6;
		
		li {
			@apply pl-4 relative mb-4;
			counter-increment: li;

			&:before {
				@apply inline-block absolute;
				content: "(" counter(li); 
				text-align: left; direction: rtl;
				width: 1em;
				top: 0;
				left: -24px;
			}
		}
	}

	ul {
		@apply my-6 pl-6;

		li {
			@apply pl-2 relative mb-4;
	
			@screen lg {
				@apply mb-4;
			}

			&:before {
				content: "";
				@apply absolute bg-white rounded-full;
				width: 6px;
    height: 6px;
    top: 11px;
    left: -12px;
			}
		}
	}

	ul, ol {
		@screen lg {  
			@apply my-8;
		}

		&:last-child {
			@apply mb-0;
		}
	}

	a {
		transition: all 0.3s ease;
		color: #60a5fa;
		@apply underline;
		&:hover {
			@apply no-underline;
		}
	}
}

.section-two-coloumn-full p a.cursor-area {
	@apply font-bold text-white;
}

.footer {
	a.big {
		@apply cursor-pointer relative;

		&:before {
			content: "";
			height: 3px;
			bottom: -3px;
			@apply absolute w-full bg-black;
		}

		&:after {
			transition: all 0.3s ease;
			content: "";
			height: 3px;
			bottom: -3px;
			@apply absolute left-0 w-0 bg-yellow;
		}

		&:hover {  
			&:after {
				@apply w-full;
			}
		}
	}

	.primaryUl {
		font-size: theme('fontSize.base-copy-size');
		@apply font-sansBold;

		@screen lg { 
			font-size: calc(1.2 * theme('fontSize.base-heading-size'));
		}

		li {
			@apply text-white;

			a {
				@apply cursor-pointer relative inline-block;

				&:before {
					content: "";
					height: 2px;
					bottom: -0px;
					@apply absolute w-full bg-black;
				}

				&:after {
					transition: all 0.3s ease;
					content: "";
					height: 2px;
					bottom: -0px;
					@apply absolute left-0 w-0 bg-yellow;
				}

				&:hover {  
					&:after {
						@apply w-full;
					}
				}
			}
		}
	}

	.secondaryUl { 
		@apply text-sm text-white;

		li {
			a {
				@apply relative cursor-pointer;

				&:after {
					transition: all 0.3s ease;
					content: "";
					height: 1px;
					left: -5px;
					@apply absolute bg-black bottom-0 opacity-0 -mb-1 w-0;
				}
			}

			&:hover {
				a {
					&:after {
						width: calc(100% + 10px);
						@apply opacity-100;
					}
				}
			}
		}
	}
	p {
		@apply text-sm text-white;
	}
}


.section-contact {
	.contact-info {
		p {
			line-height: 2.2;
		}

		a {
			@apply cursor-pointer relative;

			&:before {
				content: "";
				height: 2px;
				bottom: -3px;
				@apply absolute w-full bg-black;
			}

			&:after {
				transition: all 0.3s ease;
				content: "";
				height: 2px;
				bottom: -3px;
				@apply absolute left-0 w-0 bg-dkYellow;
			}

			&:hover {  
				&:after {
					@apply w-full;
				}
			}
		}
	}
}

table {
	@apply text-sm w-full;

	td, th {
		@apply px-4 py-3;
	}

	td {
		@apply text-text;
	}

	thead {
		th {
			@apply text-white text-left;
		}
	}
	tbody {
		tr {
			td {
				&:first-child {
					@apply font-bold;
				}
			}
			&:nth-child(odd) {
				td {
					@apply bg-white text-black;
				}
			}
			&:nth-child(even) {
				td {
					@apply bg-black text-white;
				}
			}
		}
	}
}	
