@import "partials/typography";
@import "partials/header";

@import "plugins/swiper";

body {
 	@apply bg-bodyBg;

 	::selection {
 		@apply bg-yellow;
 		//text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 	}
}

canvas {
	@apply w-full absolute inset-0 z-10;
}

html {
    scroll-behavior: smooth;
}

body {
	background-color: rgb(14 12 11/var(--tw-bg-opacity));
}

.home-wysiwyg {
	p {
		@apply text-gray-600;
	}
}

.skills {
	span {
		display: inline-block;
	}
}