@import "partials/typography";
@import "partials/header";

@import "plugins/swiper";

body {
 	@apply bg-bodyBg;

 	::selection {
 		@apply bg-yellow;
 		//text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 	}
}

canvas {
	@apply w-full absolute inset-0 z-10;
}

html {
    scroll-behavior: smooth;
}

body {
	// background-color: rgb(14 12 11/var(--tw-bg-opacity));
	@apply bg-black;
}

.home-wysiwyg {
	p {
		@apply text-gray-500;
	}
}

.skills {
	span {
		display: inline-block;
	}
}

header {
	img {
		padding: 4px!important;
	}
}

footer {
	p {
		@apply text-gray-500;	
	}
	a {
		@apply text-gray-500;
	}
}

.posts-home {
	a {
		@apply border-gray-500;
	}
}